body {
    display: grid;
    grid-template-columns: minmax(210px, 210px) 1fr;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-family: system-ui, serif;
    }

.sidebar {
    height: 100vh;
    background: #eee;
    padding: 8px;
}

#div-list{
    height: 50vh;
    overflow-y: scroll;
}
.row{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 5px; */
    margin: 3px 3px;
    width: 97%;
}
.row:hover{
    outline: slategray;
    outline-style: solid;
}
.rowHidden{
    display: none;
}
.left{
    display: flex;
    justify-content: space-between;
    width: 70%;
    /* padding-right: 5px; */
    cursor: pointer;
}
.delTicker{
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;
    font-size: inherit;
    padding: 0 5px;
    color: lightgray;
    background: rgb(223, 184, 184);
}
.delTicker:hover{
    background: rgb(255, 0, 0);
    color: black;
    outline: slategray;
    outline-style: solid;
}
.snooze{
    color:lightgray;
    padding: 0 3px;
    /* flex-basis: 25%; */
/*     background: lightsalmon; */
}
.snooze:hover{
    background: orange;
    color: navy;
    outline: slategray;
    outline-style: solid;
}
.snoozeSet{
    background: orange;
    color: black;
}
.flag{
    color:lightgray;
    padding: 0 3px;
    /* flex-basis: 25%; */
}
.flagOn, .flag:hover{
    background: limegreen;
    color: darkgreen;
    padding: 0 3px;
    /* outline: slategray; */
    outline-style: solid;
    /* flex-basis: 25%; */
}
.right{
    text-align: center;
    width: 32%;
    padding: 0 3px;
}
.rightSelected, .right:hover{
    background: lightskyblue;
    font-weight: bolder;
    outline: slategray;
    outline-style: solid;
    padding: 0 3px;
}

/* add-ticker form */

#add-ticker {
    align-content: right;
    padding-top: 10pt;
}
#add-ticker input {
    font-size: 14pt;
    text-align: center;
    width: 50%;
}
#add-ticker button{
    border: 1px solid #9361bf;
    background: #9361bf;
    padding: 4px 4px;
    font-size: 14px;
    margin: 0;
    border-radius: 4px;
    cursor: pointer;
    width: 40%;
    border-left: 0;
    color: white;
}
#add-ticker button:hover{
    font-weight: bolder;
    background: black;
}

.content {
    padding: 2rem;
    }

